.switchContainer {
  width: 300px;
  min-height: fit-content;
  height: auto;
  background: #e1e1e1;
  overflow: hidden;
  
  .itemRouterContent {
    width: 100%;
    position: relative;
    border: solid 1px black;
    background: red;
    transition: height 0.25s;
    min-height: 100px;
        
    .itemRouter {
      position: absolute;
      width: 100%;
      height: fit-content;
      transition: left 0.5s;
      top: 0;
      left: 0;
      z-index: 9;
      
      &.prev {
        left: -100%;
        z-index: 1;
      }
      
      &.next {
        left: 100%;
        z-index: 1;
      }
    }
  }
}