.switchContainer {
  width: 300px;
  min-height: fit-content;
  height: auto;
  background: #e1e1e1;
  overflow: hidden;
  transition: height 0.25s;
  
  .itemRouterContent {
    width: 300px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    display: flex;

    .itemRouter {
      flex: 0 0 100%;
      width: 100%;
      height: auto;
    }
  }
}